@page "/"

<PageTitle>Optimal Guild</PageTitle>
<div class="w-full bg-slate-800">
    <MainSplash/>
    <About/>
    <DKP/>
    <Recruiting/>
</div>

@* <SurveyPrompt Title="How is Blazor working for you?"/> *@