 <section class="border bg-iksar-bg bg-cover w-full h-full">
            <div class="bg-white/75 w-full h-full flex flex-col items-center justify-center font-sans pb-12">
                <h1 class="mb-8 mt-4 text-5xl lg:text-8xl font-black text-slate-800 text-center">How We Roll</h1>
                <div class="w-full h-full grid grid-cols-1 lg:grid-cols-4 gap-8 lg:gap-12 px-12">
                    <div class="flex flex-col items-center gap-5">
                        <h1 class="text-4xl font-thin">Mindset</h1>
                        <div class="flex flex-col items-center text-center bg-slate-800 bg-opacity-80 text-white h-full lg:h-4/5 p-4 w-full">
                            <p class="text-2xl font-bold mb-4">Maximum effort, maximum chill</p>
                            <div class="flex flex-col items-center justify-center h-full w-full">

                                <p class="text-center text-base  font-thin mb-2">We're looking for omega pumpers that want to blast the living shit
                                    out of content on a limited schedule without the ego. 
                                </p>
                                <p class="text-center text-base  font-thin">Chill with the homies, and put dragons in the dirt.  Check your drama at the door, it ain't tolerated here.</p>
                            </div>
                            </div>
                    </div>
                    <div class="flex flex-col items-center gap-5">
                        <h1 class="text-4xl font-thin">Raiding</h1>
                        <div class="flex flex-col items-center text-center bg-slate-800 bg-opacity-80 text-white h-full lg:h-4/5 p-4 w-full">

                            <p class="text-2xl font-bold mb-4">The 2 day dream</p>
                            <div class="flex flex-col items-center justify-center h-full w-full">
                            <div class="mb-4">
                                <p class="text-center text-lg font-semibold">FARM</p>
                                <p class="text-center text-base  font-thin">Tuesday 9PM - Midnight EST</p>
                                <p class="text-center text-base  font-thin">Sunday 9PM - 1AM EST</p>
                            </div>

                            <p class="text-center text-lg font-semibold">PROGRESSION (2 wks max)</p>
                            <p class="text-center text-base  font-thin">Tuesday 8PM - 11PM CST</p>
                            <p class="text-center text-base  font-thin">Thursday 8PM - 11PM CST</p>
                                <p class="text-center text-base font-thin">Sunday 8PM - Midnight CST</p>
                            </div>
                            </div>
                    </div>
                    <div class="flex flex-col items-center gap-5">
                        <h1 class="text-4xl font-thin">DKP</h1>
                        <div class="flex flex-col items-center text-center bg-slate-800 bg-opacity-80 text-white h-full lg:h-4/5 p-4 w-full">


                            <p class="text-2xl  font-bold mb-4">Kill shit, bid fast, win loot</p>
                            <div class="flex flex-col items-center justify-center h-full w-full">

                                <p class="text-center text-base  font-thin mb-4">We operate a single closed bid dkp system for speed, and bid using OPENDKP.</p>
                                <p class="text-center text-base  font-thin mb-4">90 second bid windows.</p>
                                <p class="text-center text-base  font-thin">DKP is decayed at the end of expansions to control inflation.</p>
                            </div>
                            </div>
                    </div>
                        <div class="flex flex-col items-center gap-5">
                            <h1 class="text-4xl font-thin">Boxing</h1>
                            <div class="flex flex-col items-center text-center bg-slate-800 bg-opacity-80 text-white h-full lg:h-4/5 p-4 w-full">
                                <p class="text-2xl font-bold mb-4">All the cool kids are doing it</p>
                                <div class="flex flex-col items-center justify-center h-full w-full">
                                    <p class="text-center text-base  font-thin mb-4">All of our policies favor mains over boxes.</p>
                                    <p class="text-center text-base  font-thin">Approved raid boxes are permitted on raids if room allows, however you may be asked to sit a box for a real person!</p>
                                </div>
                            </div>
                            </div>



                </div>

            </div>
            </section>