<section class="bg-slate-800 bg-cover w-full h-full">

        <div class="bg-slate-950/50 w-full h-full flex flex-col justify-center items-center pb-12">
            
            <h1 class="mb-6 mt-4 text-8xl font-black text-white">DKP</h1>
            <div class="w-full h-full flex flex-col lg:flex-row">
                <div class="w-full flex flex-col justify-center items-center p-4">
                    <img src="images/trak-transparent.png" class=""/>
                </div>
                <div class="w-full flex flex-col items-center justify-center px-6 lg:px-20 py-8">
                    <div class="bg-white bg-opacity-80 flex flex-col items-center h-max w-3/4 px-6 pt-4 pb-4 text-slate-800">
                        <div>
                            <p class="text-4xl mt-8 font-sans font-black text-center">SINGLE CLOSED BID</p>
                        </div>
                        <div class="flex flex-col items-center justify-center h-full w-full">
                        <p class="mt-8 mb-4 font-thin text-lg text-center">We utilize OPENDKP for our single closed bid system. We want loot done quickly and without extra drama. Loot windows are 90 seconds, and you pay +1 the 2nd place bidder.</p>
                        <p class="mb-6 font-thin text-lg text-center">Earn DKP for being on time, as well as hourly ticks. Players with 40% 30 Day RA+ may bid any value. Mains always win over boxes, period. DKP is decayed at the end of expansions to combat inflation and encourage spending.</p>
                            <button
                                type="button"
                                class="mb-8 flex flex-row items-center justify-center bg-slate-800 w-52 h-12 lg:w-72 lg:h-16 gap-3 rounded-full px-6 py-2.5 text-sm lg:text-xl text-white font-bold  uppercase leading-normal shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">
                                OUR DKP SITE
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 lg:w-20 lg:h-20" viewBox="0 0 256 256"><defs><style>.cls-1{fill:#FFFFFF}</style></defs><g id="icons_without_caption" data-name="icons without caption"><g id="MONEY_MAKING" data-name="MONEY MAKING"><path class="cls-1" d="M103.08 202.59H80l-4.15-9.28a37.42 37.42 0 0 1-4.92-2.78l-10.09 1.27-12-19.75 5.79-8.37a36.51 36.51 0 0 1-.22-4c0-1.06 0-2.12.14-3.19l-6-8.23 11.53-20 10.12 1a37 37 0 0 1 5.64-3.26l4.16-9.27h23.09l4.15 9.28a36.87 36.87 0 0 1 4.92 2.77l10.1-1.26 12 19.74-5.79 8.38a37.16 37.16 0 0 1 .23 4c0 1 0 2.11-.14 3.18l6 8.23-11.52 20-10.12-1a37.4 37.4 0 0 1-5.63 3.26zm-20.17-4.5h17.25l3.67-8.18.79-.35a32.89 32.89 0 0 0 6.28-3.64l.7-.52 8.93.91 8.61-15-5.27-7.26.09-.86a32.39 32.39 0 0 0-.1-7.88l-.11-.86 5.11-7.39-9-14.75-8.86 1.15-.71-.5a32.26 32.26 0 0 0-5.66-3.19l-.8-.35-3.67-8.19H82.91l-3.67 8.19-.8.35a32.42 32.42 0 0 0-6.28 3.63l-.7.52-8.93-.92-8.61 15 5.27 7.26-.09.86a33.25 33.25 0 0 0-.19 3.58 32.9 32.9 0 0 0 .29 4.3l.11.86-5.11 7.38 9 14.76 8.91-1.12.71.5a32.85 32.85 0 0 0 5.67 3.2l.79.35zm8.63-18.3a20.13 20.13 0 1 1 20.13-20.12 20.15 20.15 0 0 1-20.13 20.12zm0-35.76a15.63 15.63 0 1 0 15.63 15.63A15.65 15.65 0 0 0 91.54 144zM152.29 125.5h-15.18l-2.66-5.94a23.91 23.91 0 0 1-2.76-1.56l-6.46.81-7.88-13 3.71-5.36c-.08-.82-.12-1.59-.12-2.36 0-.59 0-1.18.07-1.81L117.17 91l7.58-13.16 6.48.66a24 24 0 0 1 3.22-1.86l2.66-5.94h15.18l2.65 5.94a23.43 23.43 0 0 1 2.77 1.56l6.46-.81 7.87 13-3.7 5.35a22.85 22.85 0 0 1 .12 2.36c0 .6 0 1.21-.07 1.82l3.83 5.27-7.58 13.15-6.48-.66a23.86 23.86 0 0 1-3.22 1.87zm-12.59-4h10l2.22-5 .71-.31a19.92 19.92 0 0 0 3.81-2.21l.62-.46 5.42.55 5-8.66-3.2-4.41.09-.77a19.71 19.71 0 0 0 .12-2.16 19.35 19.35 0 0 0-.18-2.61l-.1-.77 3.1-4.48-5.21-8.51-5.4.68-.63-.44a19.43 19.43 0 0 0-3.44-1.94l-.71-.31-2.22-5h-10l-2.23 5-.71.31a19.87 19.87 0 0 0-3.76 2.2l-.62.46-5.42-.55-5 8.67 3.2 4.4-.08.76a21.16 21.16 0 0 0-.12 2.17 20.77 20.77 0 0 0 .18 2.63l.1.76-3.13 4.5 5.19 8.55 5.41-.68.63.44a20 20 0 0 0 3.43 1.94l.71.31zm5-10.23a13.16 13.16 0 1 1 13.16-13.16 13.17 13.17 0 0 1-13.16 13.16zm0-22.32a9.16 9.16 0 1 0 9.16 9.15 9.16 9.16 0 0 0-9.16-9.1zM110.49 66l-3 3.93-.36.48-8.95 11.7L95 79.69l7.33-9.62a49.37 49.37 0 0 0-47 31.81l-3.74-1.43a53.39 53.39 0 0 1 52.49-34.33l-12.49-9.53L94 53.41zM179 188a28.85 28.85 0 0 1-4.49-.35 28.49 28.49 0 0 1 4.4-56.65 28.87 28.87 0 0 1 4.49.35A28.49 28.49 0 0 1 179 188zm-.06-53a24.49 24.49 0 0 0-3.8 48.68 24.8 24.8 0 0 0 3.86.3 24.49 24.49 0 0 0 3.8-48.68 24.8 24.8 0 0 0-3.89-.3z"/><path class="cls-1" d="M187.93 165.41c0 3.95-2.78 6.72-7.48 7.1v4.68h-2.59v-4.72a13.49 13.49 0 0 1-7.91-3.8l2-2.42a11 11 0 0 0 7.46 3.21c2.85 0 5-1.42 5-3.85 0-2.78-2.23-3.7-5.8-4.82-4.23-1.36-8.08-2.68-8.08-7.29 0-3.76 2.63-6.61 7.35-6.84v-4.89h2.59v5.06a15.82 15.82 0 0 1 6.59 2.81l-1.94 2.4a12 12 0 0 0-6.52-2.29c-2.7 0-4.59 1.27-4.59 3.53 0 2.42 2.34 3.31 5.57 4.36 4.76 1.51 8.37 2.78 8.37 7.74z"/></g></g></svg>
                            </button>
                            </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </section>