<div class="flex items-center fixed top-0 w-full bg-opacity-70 h-24 bg-slate-800 text-white text-2xl font-sans font-thin px-8">
    <div>
        Optimal
    </div>
    
    <div class="ml-auto flex gap-8">
        <a href="https://discord.gg/bwjAQCCGdK" class="hover:underline underline-offset-8 hover:opacity-60" target="_blank">Discord</a>
        <a href="/discord" target="_blank" class="hover:underline underline-offset-8 hover:opacity-60">DKP</a>
    </div>
</div>

@* @code { *@
@*     private bool collapseNavMenu = true; *@
@* *@
@*     private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null; *@
@* *@
@*     private void ToggleNavMenu() *@
@*     { *@
@*         collapseNavMenu = !collapseNavMenu; *@
@*     } *@
@* *@
@* } *@